{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="{% static "base/favicon.ico" %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block extratitle %}
      Cropse:
  {% endblock extratitle %}</title>
  <!-- Latest compiled and minified CSS -->

  
  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="{% static "base/css/base.css" %}">
  <style>{% block style %}{% endblock style %}</style>
  {% block extrastyle %}
  {% endblock extrastyle %}
</head>
<body>

<!--jumbotron && Navigation-->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" style="color: white">Cropse</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="{% url "about_me" %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "soundcloud" %}">SoundCloud</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "posts:list" %}">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "gallery" Null %}">Gallery</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/posts">
      <div class="input-group">
      <input type="text" class="form-control" name="user_search" value="{{ request.GET.user_search }}" placeholder="Search posts">
      <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">Search<i class="fa fa-search"></i></button>
      </span>
    </form>
  </div>
</nav>
<!-- End -->

<div class="container article">
  {% include "base/messages_display.html" %}
  <div class="row">
    {% block content %}
      
    {% endblock content %}
  </div>
</div>

<!-- Latest compiled and minified JavaScript -->

<!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script> -->

<!-- <script src="{% static 'base/js/base.js' %}"></script> -->
{% block extrahead %}{% endblock extrahead %}
</body>
</html>

