{% extends "base/base.html" %}
{% load staticfiles %}
{% block head_title %}
  gallery
{% endblock head_title %}


{% block head_extra %}
  <link rel="stylesheet" type="text/css" href="{% static "gallery/css/gallery.css" %}">
{% endblock head_extra %}


{% block content %}

  {% for gallery in gallery_set %}
  {% if is_folder %}
    <div><img src="{{ gallery.url }}"></div>
  {% else %}
    <a href="{% url "gallery" gallery.folder_id %}"><img src="{{ gallery.url }}"></a>
  {% endif %}
    
    
    
  {% endfor %}
{% endblock content %}

{% block script_extra %}
  <script src="{% static 'gallery/js/gallery.js' %}"></script>
{% endblock script_extra %}