{% extends "base/base.html" %}
{% load staticfiles %}
{% block head_title %}
  gallery
{% endblock head_title %}


{% block head_extra %}
  <link rel="stylesheet" type="text/css" href="{% static "gallery/css/gallery.css" %}">
{% endblock head_extra %}


{% block content %}
<div class="container-fluid">
  <h1>Album</h1>
  <div class="row">
    
  {% for gallery in gallery_set %}
  {% if is_folder %}
    <div><img src="{{ gallery.url }}"></div>
  {% else %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 img-fluid">
      <a title="image" href="{% url "gallery" gallery.folder_id %}" data-toggle="lightbox" data-gallery="example-gallery" data-type="image">
      <img src="{{ gallery.url }}" alt=""/></a>
    </div>
  {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock content %}

{% block script_extra %}
  <script src="{% static 'gallery/js/gallery.js' %}"></script>
{% endblock script_extra %}