{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
{{ instance.title }}|{{ block.super }}    
{% endblock head_title %}

{% block content %}

{# {{ share_string }}<br> #}
{# {{ instance.content|urlify }} #}
<div class="col-sm-6 col-sm-offset-3">
{% if instance.image %}
  <img src="{{ instance.image.url }}" class="img-responsive">
{% endif %}
<h1>{{ title }} <small> {% if instance.draft %}
  <span style="color:red;">Draft</span>
{% endif %}

{{ instance.publish }}</small></h1>
{% if instance.user.get_full_name %}
<p>Author: {{ instance.user.get_full_name }}</p>
{% endif %}
<div class="col-sm-10 col-sm-offset-1">
{# content #}
<div class="content-markdown">
{{ instance.content}}<br/>
</div>

<hr><br>
Updated at {{ instance.updated }}<br/>

<p>
{% if request.user.is_staff %}
<a href={% url "posts:update" slug=instance.slug %}>Edit It</a>
{% endif %}
</p>


<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
<div class=""></div>
</div>

</div>
{% endblock content %}