{% extends "base/base.html" %}
{% load staticfiles %}
  <title>{% block extratitle %}
  {{ block.super }}about me
  {% endblock extratitle %}</title>

  {% block extrastyle %}

  {% endblock extrastyle %}

{% block content %}
<!-- Title -->
<div class="row">

</div>
<!-- Image -->
<!-- <div class="row">
<div class="col-md-12">
{{ Introduce.title }}
</div>
 -->

<!-- <div class="col-md-12">
<img src="{{ Introduce.image.url }}" class="img-fluid" alt="Responsive image">
 -->
 
</div>
<div class="col-md-12">
{{ Introduce.get_markdown|safe }}

</div>
</div>
<!-- Content -->


{% endblock content %}

{% block extrahead %}
  <script>
  $(document).ready(function(){
    // $("#test").load("" );
    console.log("123");
  });
  </script>  
{% endblock extrahead %}