{% extends "base/base.html" %}

  <title>{% block head_title %}
    soundcloud
{% endblock head_title %}</title>

{% block content %}

<iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fw.soundcloud.com%2Fplayer%2F%3Fvisual%3Dtrue%26url%3Dhttp%253A%252F%252Fapi.soundcloud.com%252Fusers%252F20693686%26show_artwork%3Dtrue&url=https%3A%2F%2Fsoundcloud.com%2Fcropse%2Ftracks&image=http%3A%2F%2Fi1.sndcdn.com%2Favatars-000110551969-nvmo5j-t500x500.jpg&key=internal&type=text%2Fhtml&schema=soundcloud" width="800" height="500" scrolling="no" frameborder="0" allowfullscreen></iframe>

{% endblock content %}
