@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	font-family: 'Montserrat', sans-serif;
	/*box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);*/
}

body {
	background-color: #DADEE5;
}

/*Blog文章頁面整體*/
.article {
	padding: 15px;
}

/*所有button*/
.btn {
	cursor: pointer;
}

/*soundcloud區塊*/
.soundcloudblock {
	margin-top: 50px;
}

/*手機瀏覽時facebook&soundcloud區塊隱藏*/
@media screen and (max-width: 767px) {
	.fbsc {
		display: none;
	}
}

