{% extends "base/base.html" %}
{% load zinnia %}
{% load global_zinnia %}
{% block content %}

  <div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb" style="margin-bottom: 5px;">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
        {% block breadcrumb_detail %}
        {% endblock breadcrumb_detail %}  
    </ol

  </div>
  </div>

  <!-- side Bar -->
  <div class="col-md-3 push-md-9"> 
  {# {% tags_list %} #}
  Tag:
  <form action="" method="get">
    {% tags_list as tags %}
    {% for tag in tags %}
      <button class="btn btn-outline-primary" name="user_search" type="submit" value={{ tag }}>{{ tag }}</button>
    {% endfor %}
  </form>

<br>
Category: 
  {# {% Category_list %} #}
  <form action="" method="get">
    <ul>
      {% Category_list as Categories %}
      {% for category in Categories %}
        <li>
        
          <a href="?category_search={{ category.title }}">
            {{ category.title }}({{ category.entries.count }})  
          </a>
        </li>
      {% endfor %}
    </ul>
  </form>


Recent Post:
  {% get_recent_entries 3 %}

  {# {% get_calendar_entries 2017 %} #}
  {# {{ entry.tags_list }} #}

  </div>

{% endblock content %}