{% extends "base/base.html" %}
{% load zinnia %}
{% load global_zinnia %}
{% block content %}

  <!-- side Bar -->
<div class="col-lg-3 push-lg-9 col-md-3 push-md-9 fbsc">
<div class="row">
  <div class="col-12">
    <div class="fb-page" data-href="https://www.facebook.com/Cropse-1507642772825208/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/Cropse-1507642772825208/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/Cropse-1507642772825208/">Cropse</a>
      </blockquote>
    </div>
    <div class="soundcloud-block">
  {# Adding the SoundCloud embedded Code #}
      <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/236913528&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
      </iframe>
    </div>
    
        <div class="tcp-block">
          {# {% tags_list %} #}
          
          <form class="tags-block" action="" method="get">          
            <h6>Tag:</h6>
            {% tags_list as tags %}
            {% for tag in tags %}              
              <button class="btn {% if tag.count >= 3 %} btn-danger btn-lg{% elif tag.count >= 2%} btn-warning {% else %}btn-primary btn-sm{% endif %} 
              " name="user_search" type="submit" value={{ tag }}>{{ tag }}</button>
            {% endfor %}          
          </form>
         
          {# {% Category_list %} #}
          
          <form class="cate-block" action="" method="get">          
          <h6>Category:</h6>
            <ul>
              {% Category_list as Categories %}
              {% for category in Categories %}
                <li>
                  <a href="?category_search={{ category.title }}">
                    {{ category.title }}({{ category.entries.count }})  
                  </a>
                </li>
              {% endfor %}
            </ul>          
          </form>
          
          <form class="post-block" action="" method="get">          
          <h6>Recent Post:</h6>
            {% get_recent_entries 3 %}
            {# {% get_calendar_entries 2017 %} #}
            {# {{ entry.tags_list }} #}
          </form>
          
        </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script_extra %}
<style type="text/css">
  /* 這個元素內嵌在 iframes 裡，有可能造成部分 layout 變形，所以請把它隱藏 */
#fb-root {
    display: none;
}

/* 讓所有容器的寬度都變成 100% */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
</style>

<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=1085995668162713";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock script_extra %}