{% extends "posts/base.html" %}
{% load staticfiles %}
{# {% load urlify %} #}

{% block head_title %}
{{ instance.title }}|{{ block.super }}    
{% endblock head_title %}

{% block breadcrumb_detail %}
    <li class="breadcrumb-item"><a href="{% url "posts:list" %}">Posts</a></li>
    <li class=" breadcrumb-item active">{{ instance.title }}</li>
{% endblock breadcrumb_detail %}

{% block content %}
  {{ block.super }}
{# {{ share_string }}<br> #}
{# {{ instance.content|urlify }} #}
  {# <div class="row"> #}
<div class="col-md-9 pull-md-3">
  {% if instance.image %}
    <img src="{{ instance.image.url }}" class="img-fluid" alt="Responsive image">
  {% endif %}
  <h1>{{ title }} <small> {% if instance.draft %}
    <span style="color:red;">Draft</span>
  {% endif %}
  {{ instance.publish }}</small></h1>
  {% if instance.user.get_full_name %}
  <p>Author: {{ instance.user.get_full_name }}</p>
  {% endif %}

  <div class="col-md-9">
    {# content #}
    <div class="post-detail-item">
    {{ instance.get_markdown|safe}}<br/>
    </div>

    <hr><br>
    Updated {{ instance.publication_date|timesince }} ago<br/>

    <p>
    {% if request.user.is_staff %}
    {# <a href={% url "posts:update" slug=instance.slug %}>Edit It</a> #}
    {% endif %}
    </p>


    <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

    {% include "posts/comment.html" %}

  </div>

  </div>
  {# </div> #}
{% endblock content %}