{% extends "posts/base.html" %}
{% load staticfiles %}
{# {% load urlify %} #}

{% block head_title %}
{{ instance.title }}|{{ block.super }}    
{% endblock head_title %}

{% block content %}

<div class="col-lg-9 col-md-8 col-sm-12">
  <div class="entry">
    <h1>{{ title }}</h1>
    <small> {% if instance.draft %}<span style="color:red;">Draft</span>
    {% endif %}
    {{ instance.publish }} Updated {{ instance.publication_date|timesince }} ago
    </small>

    <hr>

      {# Main-image #}
    {% if instance.image %}
    <img src="{{ instance.image.url }}" class="img-fluid" alt="Responsive image">
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        {# content #}
        <div class="post-detail-item">
        {{ instance.get_markdown|safe}}<br/>
        </div>

        
        {% if request.user.is_staff %}
        {# <a href={% url "posts:update" slug=instance.slug %}>Edit It</a> #}
        {% endif %}
      </div>
    </div>

    <hr>
    <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    {% include "posts/comment.html" %}
  </div>
</div>
  {{ block.super }}
{% endblock content %}