{% extends "posts/base.html" %}
{% load staticfiles %}
{% block head_title %}
  Post List
{% endblock head_title %}

{% block head_extra %}
  <link rel="stylesheet" type="text/css" href="{% static "posts/css/post_list.css" %}">
{% endblock head_extra %}

{% block content %}
  {{ block.super }}
  <div class="col-lg-9 pull-lg-3 col-md-9 pull-md-3 col-sm-12 col-12">
    <div class="row">
    {% if object_list %}
      {% for obj in object_list %}
          <div class="col-12">
            <div class="card border-1 {% if obj.status != 2 %} draft {% endif %}">
            {% if obj.image %}
              <img src="{{ obj.image.url }}" width="100%" class="img-fluid card-img-top" alt="Responsive Card image cap">
            {% endif %}
              <h2 class="card-header"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
              <small>{{ obj.creation_date }}</small></h2>
              <div class="card-block caption post-detail-item">
              
                {% if obj.status != 2 %}
                  <h3>Staff Only: Draft</h3>
                {% endif %}
                {% if obj.publication_date > today %}
                  <h3>Staff Only: Future Post</h3>
                {% endif %}
              
                <div class="card-text">
                  {{ obj.get_markdown|truncatewords_html:5|safe }}
                </div>
                <p class="card-tag">Tag: {% for tag in obj.tags_list %}
                  <a href="?user_search={{ tag }}" class="badge btn-primary">{{ tag }}</a>
                                  
                  {# add tag button for search function #}
                  {# <span class="badge badge-default">{{ tag }}</span> #}

                {% endfor %}            
                </p>
                <a href="{{ obj.get_absolute_url }}" class="btn btn-primary btn-lg read">View <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                
              </div>
            </div>
            <hr>
          </div>
        
      {% endfor %}
    {% else %}
      {# Post not found #}
    {% endif %}
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.user_search %}&user_search={{ request.GET.user_search }}
            {% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.user_search %}&user_search={{ request.GET.user_search }}
            {% endif %}">next</a>
        {% endif %}
    </span>
    </div>

  </div>

{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  <script src="{% static 'posts/js/post_list.js' %}"></script>
{% endblock script_extra %}